{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'reviews/cart.css' %}">
    <h1>Cart</h1>
    {% if cart_items %}
        <div class="container">
            <div class="cart-items">
                {% for item in cart_items %}
                    <div class="cart-item">
                        <div class="book-info">
                            <img src="{{ item.book.cover.url }}" alt="Book 1"/>
                            <div class="item-details">
                                <h3>{{ item.book.title }}</h3>
                                <p>{{ item.book.price }} </p>
                                <a href="{% url 'remove_item' item.book.id %}">
                                    <button class="remove-item">Remove</button>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="container">
            <h2>Your cart is empty.</h2>
        </div>
    {% endif %}
{% endblock %}