{% extends 'base.html' %}

{%  block content %}
<div class="catalog">
    <div class="catalog-text"><h1>Каталог</h1></div>
    {% for category in categories %}
        <hr align="center" width="300" size="2" color="#ff0000"/>
        {% if category.pk == cat_selected %}
            <div class="catalog-content"><a style="color: greenyellow">{{ category.category }}</a></div>
            <h1>{{ category }}</h1>
        {% else %}
            <div class="catalog-content"><a href="{{ category.get_absolute_url }}">{{ category.category }}</a>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}