{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'reviews/profile.css' %}">
    <div class="container">
        <div class="profile-photo">
            <img src="https://www.austinchronicle.com/binary/d47f/music_feature1.jpg" alt="profile photo">
            <div class="user-info">
                <h1>Profile</h1>
                <p>Username: {{ request.user.username }}</p>
                <p>Email: {{ request.user.email }}</p>
                <p>First Name: {{ request.user.first_name }} </p>
                <p>Last Name: {{ request.user.last_name }}</p>
            </div>
            <div class="buttons">
                <button>Edit Profile</button>
                <button>Log Out</button>
            </div>
        </div>
    </div>
{% endblock %}