{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'reviews/product1.css' %}">
    <div class="content">
        <div class="catalog">
            <div class="catalog-text"><h1>Каталог</h1></div>
            {% for category in categories %}
                <hr align="left" width="300" size="2" color="#ff0000"/>
                {% if category.pk == cat_selected %}
                    <div class="catalog-content"><a style="color: greenyellow">{{ category.category }}</a></div>
                {% else %}
                    <div class="catalog-content"><a href="{{ category.get_absolute_url }}">{{ category.category }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="container1">
            <div class="slider">
                <div class="slider-line">
                    {% for p in posts %}
                        <div class="borders">
                            <div class="product">
                                <a href=" {% url 'book_detail' p.pk %}"> <div class="bookCover">
                                    <img src="{{ p.cover.url }}"
                                         alt="cover">
                                </div></a>
                                <div class="price">{{ p.price }}</div>
                                <div class="bookName">{{ p.title }}</div>
                                <div class="author">{{ postspublisher }}</div>
                                <div class="description">
                                    <div class="available">
                                        <div class="dot">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                 fill="currentColor"
                                                 color="green"
                                                 class="bi bi-circle-fill" viewBox="0 0 16 16">
                                                <circle cx="8" cy="8" r="8"/>
                                            </svg>
                                        </div>
                                        <div class="text">В наличии</div>
                                    </div>
                                    <div class="bucket">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19"
                                             fill="currentColor"
                                             class="bi bi-bucket"
                                             viewBox="0 0 16 16">
                                            <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z"/>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <button class="slider-next">
                >
            </button>
        </div>
    </div>
    <div class="borders">
        <div class="product">
            <div class="bookCover">
                <img src="{% static 'reviews/img.png' %}"
                     alt="cover">
            </div>
            <div class="price">1800 Tg</div>
            <div class="bookName">Memory</div>
            <div class="author">Kto to tam</div>
            <div class="description">
                <div class="available">
                    <div class="dot">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             color="green"
                             class="bi bi-circle-fill" viewBox="0 0 16 16">
                            <circle cx="8" cy="8" r="8"/>
                        </svg>
                    </div>
                    <div class="text">В наличии</div>
                </div>
                <div class="bucket">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                         class="bi bi-bucket"
                         viewBox="0 0 16 16">
                        <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>

{% endblock %}