<!DOCTYPE html>
<html lang="en">
    <title>Profile Page</title>
<link rel="stylesheet" href="reviews.css">
</head>
<body>
<div class="container">
    <div class="profile-photo">
        <img src="https://www.austinchronicle.com/binary/d47f/music_feature1.jpg" alt="profile photo">
    <div class="user-info">
        <h1>John Doe</h1>
        <p>Username: johndoe</p>
        <p>Email: johndoe@example.com</p>
        <p>First Name: John</p>
        <p>Last Name: Doe</p>
    </div>
    <div class="buttons">
        <button>Edit Profile</button>
        <button>Log Out</button>
    </div>
</div>
</div>
</body>
</html>