{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="main-reviews">
        <div class="reviews-book-place">
            <div class="book-cover">
                <img src="https://edit.org/images/cat/book-covers-big-2019101610.jpg" alt="book cover">
            </div>
            <div class="name-description">
                <div class="book-reviews-name">
                    Memory
                </div>
                <div class="description-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea fugit illo molestiae nostrum
                    perferendis
                    saepe, veniam. Non, tenetur ut. Ad aliquid animi asperiores aspernatur consectetur consequatur
                    consequuntur culpa dolor doloribus dolorum ea eaque eos error, esse excepturi expedita fugit id in
                    laborum nihil nostrum numquam officiis perferendis, placeat quaerat quas quibusdam quisquam quos,
                    recusandae sequi sunt suscipit temporibus tenetur totam ullam velit vitae! A aliquid, amet dolorem,
                    doloremque eius facere fugit magni necessitatibus nemo nisi nulla, placeat quo tempora totam unde
                    veniam
                    voluptatibus? Ad amet blanditiis dignissimos earum eum eveniet excepturi exercitationem itaque
                    maxime
                    molestiae nam neque pariatur provident quidem rerum voluptatem, voluptates. Accusamus accusantium
                    amet
                    animi blanditiis commodi consectetur consequatur consequuntur debitis dolor doloribus eaque earum
                    enim
                    est eum hic impedit inventore iure labore nesciunt nihil non nostrum odio officiis perspiciatis
                    possimus
                    praesentium qui quibusdam quos, ratione reiciendis rem repudiandae sed sint sit vel velit
                    voluptatem?
                    Maxime nihil, reiciendis.
                </div>
            </div>
            <div class="price-place">
                1800 tg
                <div class="bucket">
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                         class="bi bi-bucket"
                         viewBox="0 0 16 16">
                        <path d="M2.522 5H2a.5.5 0 0 0-.494.574l1.372 9.149A1.5 1.5 0 0 0 4.36 16h7.278a1.5 1.5 0 0 0 1.483-1.277l1.373-9.149A.5.5 0 0 0 14 5h-.522A5.5 5.5 0 0 0 2.522 5zm1.005 0a4.5 4.5 0 0 1 8.945 0H3.527zm9.892 1-1.286 8.574a.5.5 0 0 1-.494.426H4.36a.5.5 0 0 1-.494-.426L2.58 6h10.838z"/>
                    </svg>
                </div>
            </div>

        </div>
    <div class="comment-block">
        <h3>Review Comments</h3>
<ul>
{#    {% for review in reviews %}#}
    <li class="list-group-item">
        <span class="text-info">Review comment: </span> <span>yerka</span>
        <br>
        <span class="text-info">Created on: </span><span>{{ review.date_created }}</span>
        <br>
        <span class="text-info">Creator: </span><span>{{ review.creator.username }}</span>
        <br>
{#        <a href="{% url 'review_edit' book.pk review.pk %}">Edit Review</a>#}
    </li>
{#    {% endfor %}#}
</ul>
    </div>
    </div>
{% endblock %}