.container {
    background-color: white;
    border: 1px solid #ddd;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-item {
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

.cart-item:hover {
    background-color: rgb(126, 255, 138, 0.2);
    border: 1px solid rgb(173, 173, 173);
    margin: 0 30px 30px 0;
}

.book-info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.book-info img {
    width: 150px;
    margin-right: 20px;
}

.item-details {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.item-details h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.item-details p {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: bold;
}

.item-total {
    font-size: 16px;
}

.remove-item {
    background-color: rgb(58,181,74);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}

.cart-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.cart-total p {
    font-size: 16px;
    margin-right: 10px;
}

.cart-total h3 {
    font-size: 24px;
    margin: 0;
}

