
.borders {
    border: 1px solid rgb(173, 173, 173, 0.3);
    border: 1px solid rgb(173, 173, 173, 0.3);
    border-radius: 4px;
    width: 230px;
    display: flex;
    margin: 10px;
    transition: all ease 200ms;
}

.borders:hover {
    background-color: rgb(126, 255, 138, 0.2);
    border: 1px solid rgb(173, 173, 173);
    margin: 0 30px 30px 0;
}

.product {
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
}

.price {
    font-weight: bold;
    padding-bottom: 5px;
}

.bookName {
    padding-bottom: 5px;
}

.author {
    padding-bottom: 20px;
    opacity: 0.5;
    font-size: 13px;
}

.description {
    display: flex;
    justify-content: space-between;
    width: 200px;
    align-items: center;
}

.available{
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.bucket {
    border: 1px solid #3ab54a;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ab54a;
}

.bucket:hover {
    background-color: white;
}

.bookCover img {
    height: 150px;
    width: 110px;
    margin-bottom: 10px;
}

.content {
    background-color: white;
}
