body {
    background-color: #f5f7fa;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    margin: 50px;
    padding: 20px;
    height: 300px;
    width: 800px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.profile-photo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.profile-photo img {
    max-width: 70%;
    max-height: 70%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}

.user-info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.user-info h1 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #3ab54a;
    text-transform: uppercase;
}

.user-info p {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding-right: 20px;
}

.buttons button {
    background-color: #3ab54a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 10px;
    transition: all 0.3s ease;
}

.buttons button:hover {
    background-color: #2980b9;
}