body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.logo_text_book {
    font-weight: 700;
    color: #3ab54a;
    padding-left: 20px;
}

.logo_text {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #333333;
}

.left_side {
    display: flex;
    align-items: center;
}

.form-style {
    display: flex;
    align-items: center;
}

#form_f {
    width: 500px;
}

.upper_header {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.phone {
    width: 36px;
    height: 36px;
    color: white;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #3ab54a;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-bottom: .3rem solid #258c33;
    justify-content: space-around;
}

.left_side_header {
    color: white;
    font-size: 18px;
}

.right_side_header {
    display: flex;
    align-items: center;
}

.links_left {
    color: white;
}

.cart {
    width: 200px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

#cart {
    height: 22.5px;
    width: 20px;
    margin-left: 10px;
}

.main-catalog {
    display: flex;
}

.content {
    display: flex;
    background-color: #ffffff;
}

.catalog {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    width: auto;
    padding: 15px;
    border: 1px solid #cecece;
    border-radius: 4px;
    transition: all ease 300ms;
}

.catalog:hover {
    background-color: #f1f1f1;
}

.catalog-content-text {
    /*margin-right: 250px;*/
}

.catalog-content {
    margin-top: 5px;
    font-size: 20px;

}

.catalog-content:hover {
    color: #3ab54a;
}

.catalog-text {
    margin-bottom: 40px;
    width: 110px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    margin-left: 50px;
    width: auto;
}

.books-place {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: auto;
}


.reviews-book-place{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.mmm{
    display: flex;
}

.available-reviews{
    display: flex;
    justify-content: space-between;
    width: 90px;
    margin-left: 20px;
}


.bucket{
    border: 2px solid #3ab54a;
    background-color: #3ab54a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.bucket:hover{
    background-color: white;
}

.book-cover{
    border: 1px solid rgb(173, 173, 173, 0.3);
    height: 440px;
    padding: 20px;
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 30px;
}

.book-cover img{
    width: 330px;
    height: 400px;
}

.name-description{
    display: flex;
    flex-direction: column;
    /*overflow: hidden;*/
    flex-wrap: wrap;
    width: 400px;
    margin-top: 50px;

}

.book-reviews-name{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}

.price-place{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid rgb(173, 173, 173, 0.3);
    padding: 1px;
    height: 100px;
    width: 300px;
}

.price-place:hover{
    background-color: rgb(126, 255, 138, 0.2);
}

.list-group-item{
     margin: 10px;
}

.price{
    margin-left: 20px;
}

.text-info{
    margin: 10px;
    text-decoration: #1d862c;
}


.comment-block{
    width: 500px;
    margin-left: 220px;
}

.comment-block h3{
    margin-left: 20px;
}

.container1 {
    max-height: 500px;
    width: 900px;
    height: 450px;
    margin: 30px auto;
    background: white;
    padding: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    transition: all ease 300ms;
    border: 1px solid #cecece;
}

.container1:hover {
    background: #f1f1f1;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

button {
    background: #3ab54a;
    border: 0.2px solid rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: #1d862c;
}

button:active {
    color: #fff;
}

.courses {
    margin-top: 40px;
}

.courses li {
    margin-bottom: 20px;
}

.courses a {
    color: #222;
}

.slider {
    width: 256px;
    height: 256px;
    margin: 20px auto;
}

.slider-line {
    width: 1024px;
    height: auto;
    display: flex;
    background: none;
    position: relative;
    left: 0;
    transition: all ease 1s;
}

.slider-next {
    color: white;
    background-color: #1d862c;
    border: 1px solid rgb(0,0,0, 0.2);
    transition: all ease 50ms;
    border-radius: 10px;
}

.slider-next:focus {
    background-color: white;
    border: 1px solid rgb(0,0,0, 0.2);
    color: black;
}

.slider-next:hover {
    background-color: white;
    color: black;
    border: 1px solid rgb(0,0,0, 0.2);
}

.slider-next:active {
    background-color: white;
    color: black;
}

.reg-buttons {
    padding-right: 100px;
}

/*DROPDOWN*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: white;
    color: #333;
    padding: 10px;
    border: none;
    margin-right: 30px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f9f9f9;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    color: white;
}