body {
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.logo_text_book {
    font-weight: 700;
    color: #3ab54a;
    padding-left: 20px;
}

.logo_text {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #333333;
}

.left_side {
    display: flex;
    align-items: center;
}

#form_f {
    width: 500px;
}

.upper_header {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.phone {
    width: 36px;
    height: 36px;
    color: white;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #3ab54a;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left_side_header {
    color: white;
    font-size: 18px;
}

.right_side_header {
    display: flex;
    align-items: center;
}


/* Carousel stuff */


.content {
    display: flex;
}

.catalog {
    margin-top: 20px;
    margin-left: 30px;
}
.catalog-content{
    margin-top: 5px;
    font-size: 20px;
}

.catalog-content:hover {
    color: #3ab54a;
}

.catalog-text{
    margin-bottom: 40px;
}



section.awSlider .carousel {
    display: table;
    z-index: 2;
    width: 1100px;
}

section.awSlider {
    margin: auto;
    padding: 30px;
    position: relative;
    display: table;
}

section.awSlider img {
    border-radius: 10px;
    pointer-events: none;
}

section.awSlider > img {
    border-radius: 50px;
    position: absolute;
    top: 30px;
    z-index: 1;
    transition: all .3s;
}

.awSlider {
    height: 300px;
}

.ri {
    right: 0;
    left: auto;
    margin-left: 940px;
}

.yerka {
    height: 300px !important;
    width: 100% !important;
}

/* Carousel stuff ends */