.logo_text_book {
    font-weight: 700;
    color: #3ab54a;
    padding-left: 20px;
}

.logo_text {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    color: #333333;
}

.left_side {
    display: flex;
    align-items: center;
}

#form_f {
    width: 500px;
}

.upper_header {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.phone {
    width: 36px;
    height: 36px;
    color: white;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #3ab54a;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left_side_header {
    color: white;
    font-size: 18px;
}

.right_side_header {
    display: flex;
    align-items: center;
}