<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книжный магазин - BookStore</title>
    <link rel="stylesheet" href="{% static 'main1.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="upper_header">
    <div class="left_side">
        <img src="{% static 'logo1.png' %}" alt="">
        <div class="logo_text">
        <span class="logo_text_book">
            BOOK
        </span>
            STORE
        </div>
    </div>
    <div class="right_side">
        <input type="email" class="form-control" id="form_f" placeholder="Название книги или автор">
    </div>
</nav>
<div class="navbar navbar-expand-lg navbar-light bg-success">
    <a class="nav-item nav-link text-dark font-italic" href="#">Научные</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link font-italic" href="#">Художественные</a>
            <a class="nav-item nav-link font-italic" href="#">Справочные </a>
            <a class="nav-item nav-link font-italic" href="#">Исторические</a>
            <img src="{% static 'tel.png' %}" alt="">
        </div>
    </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>