<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Книжный магазин - BookStore</title>
    <link rel="stylesheet" href="{% static 'main1.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
</head>
<body>
<nav class="upper_header">
    <a href="{% url 'home_page' %}">
        <div class="left_side">
            <img src="{% static 'logo1.png' %}" alt="">
            <div class="logo_text">
        <span class="logo_text_book">
            BOOK
        </span>
                <STORE>STORE</STORE>
            </div>
        </div>
    </a>
    <div class="right_side">
        <form class="form-style" action="{% url 'search_book' %}">
            <label for="form_f"></label>
            <input type="email" class="form-control" id="form_f" placeholder="Название книги или автор">
            <button style="margin-left: 20px" type="submit">Search</button>
        </form>
    </div>
    <div class="cart">
        <img id="cart" src="{% static 'cart.svg' %}">
    </div>
</nav>
<div id="header">
    <div class="left_side_header">
        <span class="links_left"><a class="link" href="" style="text-decoration: none">Акция</a></span>
        <span class="links_left" style="padding-left: 30px"><a class="link" href="" style="text-decoration: none">Новинки</a></span>
    </div>

    <div class="right_side_header">
        {% block auth %}
            {% if request.user.is_authenticated %}
                <div class="dropdown">
                    <button class="dropdown-btn">Привет, {{ request.user.username }}</button>
                    <div class="dropdown-content">
                        <a href="{% url 'profile' %}">Профиль</a>
                        <a href="#">Option 2</a>
                        <a href="{% url 'logout' %}">Выход</a>
                    </div>
                </div>
            {% else %}
                <div class="reg-buttons">
                    <a class="btn btn-light" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-light" href="{% url 'register' %}">Register</a>
                </div>
            {% endif %}
        {% endblock %}
        <img class="phone" src="{% static 'phone.svg' %}" alt="Phone Photo">
        <div style="display: flex; flex-direction: column; padding-left: 10px; color: white">
            <span>Телефон</span>
            <span style="font-size: 20px; font-weight: bold">+7 (7771) 875 - 312</span>
        </div>
    </div>

</div>
{% block content %}

{% endblock %}
<script src="{% static 'script.js' %}"></script>
</body>
</html>

